<mat-toolbar class="max-w-7xl mx-auto border-x justify-between">
  <a routerLink="home">Code with me</a>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon [matBadge]="1" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <mat-menu #menu="" matMenu>
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">1 items</span>
        <a routerLink="cart">View Cart</a>
      </div>
      <div class="flex justify-between font-light mb-2">
        Keyboard x 1
        <span class="font-bold">{{ '150' | currency : '₺' }}</span>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
